<html>
<head>
    <title>Credentials</title>
    <meta name="subtitle" content="Passwords and Other Secret Credentials" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="keywords" content="romp, passwords, secrets, credentials" />
    <meta name="sequence" content="40" />
</head>
<body>
    <style>
        .info.romp {
            border-color: #98002E;
            color: #98002E;
        }
        pre {
            background-color: #f7f5f5;
            padding: 12px 16px;
        }
    </style>
    <p>
        Romp supports <i>Resource Credentials</i>, which are named credentials used to access a protected resource. Usually, credentials include secrets such as a username and password combination, and are stored securely using encryption, both in memory (during runtime), and on disk.
    </p>

    <p>
        Like <a href="/docs/romp/romp-packages/layout/variables">variables</a>, the required credentials are defined in a <code>packageCredentials.json</code> file in the package root. It is an array of objects that describe credentials. Each object has the following properties.
    </p>

    <table>
        <tbody>
            <tr>
                <td><code>type<sup>R</sup></code></td>
                <td>
                    a <i>string</i> describing the type of the credential; typically it's <code>UsernamePassword</code>
                </td>
            </tr>
            <tr>
                <td><code>name<sup>R</sup></code></td>
                <td>
                    a <i>string</i> that contains the name of the credential used by the installation script
                </td>
            </tr>
            <tr>
                <td><code>description</code></td>
                <td>
                    a <i>string</i> to document the credential’s intended usage
                </td>
            </tr>
            <tr>
                <td><code>restricted</code></td>
                <td>
                    a <i>boolean</i> that indicates whether the <code>$CredentialValue</code> variable function may extract a value from the credential; defaults to false
                </td>
            </tr>
            <tr>
                <td><code>defaults</code></td>
                <td>
                    an <i>object</i> with key/value pairs representing a non-secured credential property and its default value
                    <br/><br/>
                    <i>Note: if a secured property (like Password) is defined, it will be ignored</i>

                </td>
            </tr>
           
        </tbody>
    </table>
    <p>An "<code>R</code>" denotes a required property. When an object is not specified for a variable, a string indicates a required text variable, while a null represents a required text variable without a value.</p>

        <h3>Example:</h3>

        <pre>
[
  {
    "type": "UsernamePassword",
    "name": "MyServerLogin",
    "description": "Use sdennis",
    "defaults": { // JSON representation of credentials object (plaintext)
      "UserName": "sdennis",
      "Password": null // cannot define because it’s secure
    }
 ]
</pre>
    
    <p>
        In the above example, three username/password credentials are specified. In the first definition, the credentials are specified as pure JSON with any secrets clearly exposed. In the second definition, the JSON for the credentials object has been base64 encoded to help prevent revealing a secret through casual observation. In the third definition, the object is completely unspecified, and Romp will prompt for it when installing the package.
    </p>

    <p>
        Embedding credentials in a package is a convenience, and the limited obfuscation provided should not be mistaken for any kind of cryptographically secure storage. The only secure way to store credentials in a package is to not store them at all, or to encrypt the entire package by some other means.
    </p>

    <h2 id="locally-stored">Locally Stored Credentials</h2>

    <p>Romp can store named credentials in an encrypted manner in its local configuration database, meaning you won't have to enter it at installation time or pass it in as an argument. See the <a href="/docs/romp/command-line/command-overview/credentials#store">romp store credentials</a> command for more details.</p>

    <h2 id="prompting">Prompting for Credentials</h2>

    <p>Credentials may be passed in as an argument to Romp. Like variables, if you don't pass in a required variable, and one isn't defined as a locally-stored credential, then you will be prompted for it (when running interactively). Otherwise Romp will issue an error and not proceed with installation.</p>

    <h2 id="variable-values">Credentials as Variable Values</h2>

    <p>You can use the <code>$CredentialProperty</code> variable function to extract a property from a credential, unless that credential is marked as "restricted". When restricted, only operations that can access secure storage will be able to read these properties.</p>
    
</body>
</html>