<html>
<head>
    <title>Metadata</title>
    <meta name="subtitle" content="Package Metadata" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="keywords" content="romp, metadata" />
    <meta name="sequence" content="10" />
</head>
<body>
    <style>
        .info.romp {
            border-color: #98002E;
            color: #98002E;
        }
    </style>
    <p>
        At a minimum, a romp package must contain a <code>upack.json</code> file. 
        </p>
    <p>
        See the <a href="/docs/various/universal-packages/universal-feed-api#metadata">Universal Package Metadata Specification</a> for a list of <code>upack.json</code> properties.
    </p>
    <p>
        A Romp package may also include an additional metadata file, <code>rompPackage.json</code>, that defines package behavior.
    </p>
    <h3 id="romp-metadata">Romp Package Metadata Specification</h3>
    <p>
        Just like <code>upack.json</code>, a <code>rompPackage.json</code> file is a JSON object with the following optional properties:
    </p>
    <table>
        <tbody>
            <tr>
                <td><code>minimumClient</code></td>
                <td>
                    a <i>string</i> representing a three-part version number that describes the lowest version of the romp client that may install the package; when not specified, any client version may be used
                </td>
            </tr>
            <tr>
                <td><code>requiredExtensions</code></td>
                <td>
                    an <i>array of strings</i> containing the names of extensions that must be installed in the romp’s extension; when not specified, the default extensions are InedoCore, Windows, and Linux
                    <br/><br/>
                    <i>note: if you define this, make sure to also specify the defaults if you wish those to be also required</i>
                </td>
            </tr>
            <tr>
                <td><code>machineOnly</code></td>
                <td>
                    a <i>boolean</i> indicating whether the package may only be installed as a machine package; this defaults to false
                </td>
            </tr>
            
        </tbody>
    </table>
    <p>
        <i>However</i>, unlike <code>upack.json</code>, the <code>rompPackage.json</code> file may not contain any additional properties.
    </p>
</body>
</html>