<html>
<head>
    <title>Rafts</title>
    <meta name="subtitle" content="Rafts" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="keywords" content="romp, otter, rafts" />
    <meta name="sequence" content="50" />
</head>
<body>
    <style>
        .info.romp {
            border-color: #98002E;
            color: #98002E;
        }
    </style>
    <p>
        A raft is used to store plans, templates, variables, and asset files. If a Romp Package has any dependency on raft data,
		the entire raft can be included in the package. Further information about rafts can be found in the <a href="/support/documentation/otter/global-components/rafts">Otter documentation</a>.
    </p>
</body>
</html>